---
import { Icon } from 'astro-icon/components';
---

<a href="/" class="inline-flex items-center text-xl text-sky-400 hover:text-sky-300 transition-colors group">
    <Icon name="arrow-left-long" class="h-4 w-4 mr-2 transition-transform group-hover:-translate-x-1" />
    Back to Projects
</a>